<head xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" type="text/css" href="stylesheets/prof.css"/>

    <!--   <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>

</head>


<body>
<main id="prof">

    <div class="navbar">
        <a v-on:click="currentPage = 'myClasses'">Mes classes</a>

        <div class="dropdown">
            <button class="dropbtn"> Gérer mes notes
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <div v-for="classe in myClasses">
                    <a v-on:click="getNotesByMatiere(classe.classe, classe.name) ; currentPage = 'notes'">
                        {{ classe.name }} </a>
                </div>
            </div>
        </div>


        <div class="dropdown">
            <button style="float:right" class="dropbtn">Menu
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">

                <a id="change-Password" @click="showModalPWC = true">Changement de mot de passe</a>
                <change-password v-if="showModalPWC" @close="showModalPWC = false">
                    <h3 slot="header">custom header</h3>
                </change-password>

                <a href="/users/logout">Se déconnecter</a>

            </div>
        </div>
    </div>

    <section v-if="currentPage === 'myClasses'" id="myClasses">

        <h1> Gestion des classes</h1>

        <div>
            <table id="user_tab">
                <thead>
                <tr>
                    <td>Nom</td>
                    <td>Promotion</td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="classe in myClasses">
                    <td> {{ classe.name }}</td>
                    <td> {{ classe.classe }}</td>
                </tbody>
            </table>
        </div>
    </section>

    <section v-if="currentPage === 'notes'" id="notes">

        <h1> Notes</h1>

        <div>
            <table id="user_tab">
                <thead>
                <tr>
                    <td>Nom</td>
                    <td>Note</td>
                    <td>Éditer</td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="note in notesByMatiere">
                    <td> {{ note.eleve }}</td>
                    <td> {{ note.note }}</td>
                    <td>
                        <button id="edit-note" @click="onNoteClick(note.eleve, note.promo, )">Modifier la note</button>
                        <edit-note v-if="editNote" @close="editNote = false">
                            <h3 slot="header">custom header</h3>
                        </edit-note>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    </section>

</main>


<script type="text/x-template" id="editNote">
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">

                    <form action="/prof/newnote">
                        <caption>
                            Modification d'une note
                        </caption><br>

                        <input type="hidden" name="classe" :value="classe">
                        <input type="hidden" name="matiere" :value="matiere">

                        <tr>
                            <th> Nom : </th>
                            <td> <textarea readonly name="name" :value="name"/> </td>
                        </tr><br>

                        <tr>
                            <th> Note : </th>
                            <td> <input type=number name="note"/> </td>
                        </tr><br>


                        <input type = "button" value="Annuler"
                               class="modal-default-button" @click="$emit('close')">
                        <input type="submit" formmethod="post" value="Valider">
                    </form>


                </div>
            </div>
        </div>
    </transition>
</script>

<script>

    Vue.component('edit-note', {
        template: '#editNote',
        data: function () {
            return {
                name: this.$parent.noteName,
                classe: this.$parent.noteClasse,
                matiere: this.$parent.noteMatiere
            }
        }
    });

    new Vue({
        el: '#prof',
        data: {
            currentPage: '',
            showModalPWC: false,
            editNote: false,
            noteName: null,
            noteClasse: null,
            noteMatiere: null,
            myClasses: [],
            notesByMatiere: []
        },
        created() {
            this.getMyClasses()
        },
        methods: {
            getMyClasses: function () {
                axios
                    .get('/prof/myclasses')
                    .then(response => {
                        this.myClasses = response.data
                    })
                    .catch(error => {
                        console.log(error);
                        this.errored = true;
                    })
                    .finally(() => this.loading = false)
            },
            getNotesByMatiere: function (promo, matiere) {
                axios
                    .post('/prof/notesbymatiere', {
                        matiere: matiere,
                        promo: promo
                    })
                    .then(response => {
                        this.notesByMatiere = response.data;
                        this.noteMatiere = matiere;
                        this.currentPage = 'notes';
                    })
                    .catch(error => {
                        console.log(error);
                        this.errored = true;
                    })
                //                       .finally(() => this.currentPage = 'notes')
            },
            onNoteClick: function (name, classe) {
                this.noteName = name;
                this.noteClasse = classe;
                this.editNote = true;
            }
        }
    })
</script>
</body>